<!-- see https://www.baeldung.com/logback -->
<configuration scan="false" debug="false">
    <!-- suppress output INFO at start
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- production like for SPLUNK etc -->
            <pattern>timestamp=%d loglevel=%-5p class=%logger{36} message=%msg%n</pattern>
            <!-- local host easy readable -->
            <!--pattern>%highlight(%-5level) %logger{36} %msg %n</pattern-->
        </encoder>
        <withJansi>false</withJansi>
    </appender>


    <logger name="swiss.opentransportdata.ojp.adapter" level="INFO"/>

    <root level="${LOG_LEVEL:-WARN}">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
